---
layout: default
---
<div class="boton_atras">
    <a href="index.html"><img style="height: 50px;" src="assets/imagenes/flecha_atras.png"></a>
      </div>
           
<div class="recuadro_muestras">
	<a href="cisnes.html">No me invitaron, no sé si voy a ir, de Carlos Cima</a>
	<a href="huffman.html">Recursiva, de Carlos Huffman</a>
    <a href="litote.html">Litote, de Martin Farnholc Halley</a>
	<a href="german.html">German, de Alfredo Dufour</a>
	<a href="surrender.html">Surrender, de Catalina Oz</a>
	<a href="pasetodoslos.html">Pasé todos estos años construyendo un refugio, de Micaela Piñeiro</a>
	<a href="frias.html">El Reloj, de Alfredo frias</a>
	<a href="flores.html">Petit Hotel, de Noelia Correa y Toti D’stefano</a>    
    	
    	
</div>
